# Note: This file is just for development purposes. For the deployment configuration,
# see https://gist.github.com/mmabey/a84868f1bba4c2a9cb42c43cca7966c2

http://mikemabey.com:8080 {
  root _build/html
  log stdout
  errors stderr
}

http://blog.mikemabey.com:8080 {
  redir http://mikemabey.com:8080/blog/
}
