{% extends "!layout.html" %}
{#% set old_pathto = pathto %}
{% macro pathto(file_path, depth_num=1) %}/{{ old_pathto(file_path, depth_num) }}{% endmacro %#}
{% block extrahead %}

  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
      window.addEventListener("load", function(){
          window.cookieconsent.initialise({
              "palette": {
                  "popup": { "background": "#343131" },
                  "button": { "background": "#2980b9" }
              },
              "theme": "classic", "position": "bottom-right",
              "content": { "message": "This website uses cookies." }
          })});
  </script>

  {% if meta and meta['doc_type'] == 'blog' -%}
  <script src="{{ pathto('_static/' + 'tag_toggle.js', 1) }}" ></script>

  <!-- Structured article data -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://mikemabey.com/{{ pagename }}.html"
      },
      "headline": "{{ meta['title'] }}",
      {%  if meta['description'] -%}
      "description": "{{ meta['description'] }}",
      {%- endif %}
      "author": {
        "@type": "Person",
        "name": "Mike Mabey"
      },
      "datePublished": "{{ meta['datePublished'] }}",
      "dateModified": "{{ meta['dateModified'] }}",
      "publisher": {
        "@type": "Organization",
        "name": "mikemabey.com",
        "logo": {
          "@type": "ImageObject",
          "url": "https://mikemabey.com/logo.png",
          "width": 395,
          "height": 60
        }
      }
    }
  </script>

  <!-- Structured breadcrumb data for the blog -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "https://mikemabey.com/blog",
        "name": "Blog"
      }
    },{
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "https://mikemabey.com/blog/{{ pagename.split('/')[1] }}",
        "name": "{{ pagename.split('/')[1] }}"
      }
    },{
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "https://mikemabey.com/{{ pagename }}.html",
        "name": "{{ meta['title'] }}"
      }
    }]
  }
  </script>
  {%- else %}
  <!-- Structured breadcrumb data -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "https://mikemabey.com/{{ pagename }}.html",
        "name": "{{ title }}"
      }
    }]
  }
  </script>
  {%- endif %}

  <!-- Structured social profile links -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Mike Mabey",
    "url": "https://mikemabey.com",
    "sameAs": [
      "https://plus.google.com/+MikeMabey",
      "https://twitter.com/mkmabey",
      "https://www.linkedin.com/pub/michael-mabey/18/a24/a6b/en"
    ]
  }
  </script>

  <!-- Search helper for Google -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://mikemabey.com/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://mikemabey.com/search.html?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>

{% endblock %}

{% block extrabody %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59535121-1', 'auto');
    ga('send', 'pageview');

  </script>

{% endblock %}

{% block menu %}{{ super() }}
        </div>
      </div>
      &nbsp;
      <div class="served_by"><a href="https://caddyserver.com/"><img src="/_static/caddy.png" /></a><div style="display: none;">
{% endblock %}

{% block comments %}{% endblock %}
