img.avatar, img.avatar:before {border-radius: 6px; max-width: 167px; min-height: 167px; min-width: 167px;}
img.avatar:before {background-image: url(portrait.jpg); content: ' '; display: block; position: absolute;}
div.served_by {position: absolute; bottom: 0; text-align: center; width: 100%; padding: 0 28%;}
